* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #ff1493;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: relative;
}

#confetti-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.invite-banner {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  font-size: clamp(3rem, 8vw, 7rem);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  animation:
    rainbowFlash 0.6s infinite,
    glowPulse 1s infinite alternate;

  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff0,
    0 0 35px #0ff;
}

.pet-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 5;

  animation: wiggle 0.6s infinite alternate ease-in-out;
}

.pet-image {
  width: 150px;
  height: 150px;
  object-fit: cover;

  border: 8px ridge yellow;
  border-radius: 18px;

  box-shadow:
    0 0 10px white,
    0 0 25px cyan,
    0 0 40px yellow;
}

.party-hat {
  position: absolute;
  top: -48px;
  overflow:visible;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(15deg);

  width: 0;
  height: 0;

  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: 95px solid #00ffff;

  filter: drop-shadow(0 0 8px white);
}

.party-hat::before {
  content: "";

  position: absolute;
  top: 82px;
  left: -38px;

  width: 76px;
  height: 12px;

  background: repeating-linear-gradient(
    90deg,
    yellow 0px,
    yellow 8px,
    hotpink 8px,
    hotpink 16px
  );

  border-radius: 999px;
}

.party-hat::after {
  content: "";

  position: absolute;
  top: -12px;
  left: -10px;

  width: 20px;
  height: 20px;

  background: yellow;
  border-radius: 50%;

  box-shadow: 0 0 10px white;
}

@keyframes wiggle {
  0%,
  49.999% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }

  50%,
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.08);
  }
}

@keyframes rainbowFlash {
  0% {
    color: red;
  }

  16% {
    color: orange;
  }

  32% {
    color: yellow;
  }

  48% {
    color: lime;
  }

  64% {
    color: cyan;
  }

  80% {
    color: blue;
  }

  100% {
    color: magenta;
  }
}

@keyframes glowPulse {
  from {
    transform: translateX(-50%) scale(1);
  }

  to {
    transform: translateX(-50%) scale(1.08);
  }
}